<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <title>Final Project: User</title>

    </head>

    <body>
        <nav class="navbar bg-light pb-3">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Final Project</span>
              <ul class="nav justify-content-end">
                <li class="nav-item pt-2">
                  <a href = '/logout' class="btn btn-dark">Log Out</a>
                </li>
            </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <p class="fs-2">Welcome {{user}}!</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <a href = '/booking' class="btn btn-dark">Perform booking</a>
                  </div>
                </div>
            </div>
          </div>
    </body>
